

<div class="container">

    {{!-- Heading Section --}}
        <div class="row text-center pt-3 pb-3">
            <div class="col">

                <h1 class="display-1">Eat The Burger</h1>

            </div>
        </div>

</div>

<img src="/img/meltedBurgers.png" class="img-fluid big-burger w-100 pb-4" alt="Juicy Burger">

<div class="container">
    

    {{!-- Input Section/Create Burger --}}
    <section class="inputform d-flex justify-content-center">
        
        <form id="newBurgerForm">
            <div class="form-group text-center">
                {{!-- New Burger Form --}}
                <div class="pb-3">
                    <label class="display-4" for="newBurger">Create a new Burger</label>
                    <input type="text" id="newBurger" class="form-control" aria-describedby="create_burger">
                    <small id="create_burger" class="form-text text-muted">Name it whatever you'd like!</small>
                </div>
                {{!-- Submit Button --}}
                <div class="text-center pb-5">
                    <a>
                        <button id="submitBTN" type="submit" class="btn btn-outline-dark btn-lg">Submit</button>
                    </a>
                    
                </div>
            </div>
        </form>
    </section>

    <hr>

    <h2 class="display-3 text-center pb-3">The Burgers</h2>

    {{!-- Output/Burgerlist and show un eaten/eaten burgeres --}}
    <section class="outputlist justify-self-center">
        <div class="row">
            {{!-- Undevoured burgers --}}
            <div class="col-6 justify-content-center">
                
                    {{#each burgers}}
                        {{#unless devoured}}

                            {{>burgers/burger-block devoured=true}}

                        {{/unless}}
                    {{/each}}
                
            </div>
            {{!-- Devoured Burgers --}}
            <div class="col-6">
                <table class="table w-100" id="isDevoured">
                    {{#each burgers}}
                        {{#if devoured}}

                            {{>burgers/eaten-block devoured=false}}
                            
                        {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>
    </section>
</div>