<div class="container">

    {{!-- Heading Section --}}
        <div class="row text-center">
            <div class="col">
                <img src="./public/img/burger.png" class="img-fluid big-burger w-50" alt="Juicy Burger">

                <h1 class="display-2">Eat The Burger</h1>

                <h2 class="display-4">The Burgers</h2>
            </div>
        </div>   
    
    {{!-- Input Section/Create Burger --}}
    <section class="inputform d-flex justify-content-center">
        <form id="newBurgerForm">
            <div class="form-group text-center">
                {{!-- New Burger Form --}}
                <div>
                    <label for="newBurger">Create a new Burger</label>
                    <input type="text" id="newBurger" class="form-control" aria-describedby="create_burger">
                    <small id="create_burger" class="form-text text-muted">Name it whatever you'd like!</small>
                </div>
                {{!-- Submit Button --}}
                <div class="text-center">
                    <button id="submitBTN" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
    
            
            
        </form>
    </section>

    {{!-- Output/Burgerlist and show un eaten/eaten burgeres --}}
    <section class="outputlist justify-content-center">
        <div class="row">
            <div class="col-6">
                <table class="table w-100">
                    {{#each burgers}}
                        {{#unless devoured}}
                            <tr>
                                <td>
                                    <i class="fas fa-hamburger"></i><span id="burger_name"> {{burger_name}} </span><button class="btn" id="devourBTN">Devour</button>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        {{/unless}}
                    {{/each}}
                </table>
                {{!-- <span ><i class="fas fa-utensils"></i></span> --}}
                {{!-- <ul>
                    {{#each burgers}}
                        {{#unless devoured}}
                            <li class="lead"><i class="fas fa-hamburger"></i><span> {{burger_name}} </span><i class="fas fa-utensils"></i></li>
                        {{/unless}}
                    {{/each}}
                </ul> --}}
            </div>
            <div class="col-6">
                <table class="table w-100">
                    {{#each burgers}}
                        {{#if devoured}}
                            <tr>
                                <td>
                                    <i class="fas fa-hamburger"></i><span> {{burger_name}} </span>
                                </td>
                                <td>
                                    <i class="fas fa-utensils"></i>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>
    </section>


    
    

</div>