<div class="container">

    {{!-- Heading Section --}}
        <div class="row text-center">
            <div class="col">
                <h1 class="display-2">Eat The Burger</h1>

                <h2 class="display-4">The Burgers</h2>

                <img src="../public/assets/twoburgers.png" class="img-fluid" alt="Juicy Burger">
            </div>
        </div>   
    
    {{!-- Input Section/Create Burger --}}
    <section class="inputform">

    </section>

    {{!-- Output/Burgerlist and show un eaten/eaten burgeres --}}
    <section class="outputlist">
        <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li><span> {{burger_name}} </span></li>
                    {{/unless}}
                {{/each}}
        </ul>
    </section>
    

</div>